<template>

  <section class="rating">

    <svg v-for="index in startAmount" v-bind:key="index"
         v-bind:class="[ 'rating-star', index <= ratingValue ? 'active' : 'inactive']"
         width="18px" height="16px" viewBox="0 0 18 16" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <path class="rating-fill" stroke="none" fill-rule="evenodd"
            d="M8.8,0.002 L11.7710182,4.93552041 L17.6,6.11150732 L13.6072774,10.3375425 L14.2385573,16 L8.8,13.6761841 L3.36144271,16 L3.99272263,10.3375425 L7.10542736e-15,6.11150732 L5.82898181,4.93552041 L8.799,0.002 L8.8,0 L8.8,0.001 L8.8,0.002 Z"></path>
    </svg>

  </section>

</template>

<style lang="scss" src="./Rating.scss" scoped></style>
<script src="./Rating.js"></script>