@import '@/style/main.scss';

.rating {
  display: inline-block;
}

.rating-star {
  & + .rating-star {
    margin: 0 0 0 1rem;
  }

  &.active .rating-fill {
    fill: $c-yellow;
    opacity: 1;
  }

  &.inactive .rating-fill {
    fill: $c-white;
    opacity: 0.2;
  }
}