/** -------------------------
              COLORS
    ------------------------- */
$c-white: #fff;
$c-grey: #979797;
$c-black: #000;
$c-yellow:#E7CD22;

// ----- Text Color -----
.color--white {
  color: $c-white;
}