/** -------------------------
          MIXINS
    ------------------------- */

// ----- Media Queries -----
$small: 650px;
$medium: 900px;
$large: 1240px;
$xtraLarge: 2000px;

@mixin MQ-min($canvas) {
  @media only screen and (min-width: $canvas) { @content; }
}

@mixin MQ-max($canvas) {
  @media only screen and (max-width: $canvas) { @content; }
}

@mixin small {
  @media only screen and (min-width: $small) { @content; }
}

@mixin medium {
  @media only screen and (min-width: $medium) { @content; }
}

@mixin large {
  @media only screen and (min-width: $large) { @content; }
}

@mixin xtraLarge {
  @media only screen and (min-width: $xtraLarge) { @content; }
}