/** -------------------------
          TEXT-STYLES
    ------------------------- */
h1 {
  @include medium {
    font-size: 2.8rem;
    line-height: 3.8rem;
    letter-spacing: .5rem;
  }

  font-size: 2.1rem;
  font-weight: 300;
  line-height: 2.8rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

p {
  @include medium {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
  letter-spacing: 0;
}

.error-message {
  color: red;
  display: block;
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: 0;
}

label {
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0;
}

input {
  border: 0.1rem solid $c-grey;
  font-size: 1.8rem;
  height: 4rem;
  line-height: 2.2rem;
  letter-spacing: 0;
  outline: none;
  padding: 1rem;
  width: 21rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-ms-clear {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

