@import '@/style/main.scss';

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $c-black;
}

*,
*:before,
*:after {
  margin: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

// ----- 1rem = 10px -----
:root {
  font-size: 10px;
}

// ----- statistics form ------
.statistics-form {
  @include small {
    max-width: 110rem;
  }

  background-repeat: no-repeat;
  max-width: 38rem;
  margin: 5rem auto 0;
}

.statistics-label {
  display: block;
}

.statistics-input {
  margin: 1rem 0 0 0;
}

.statistics-item + .statistics-item {
  margin: 1.5rem 0 0 0;
}

.statistics-container {
  @include small {
    padding: 5rem 5rem;
    max-width: 110rem;
  }

  margin: 0 auto;
  width: 100%;
  max-width: 37rem;
  padding: 5rem 2rem;
}