<template>

  <div id="app">

    <section class="statistics-container">

      <banner bannerType="tyre" :percentage="percentage" :rating="rating" />

      <banner bannerType="forest" :percentage="percentage" :rating="rating" />

      <form class="statistics-form">

        <div class="statistics-item">

          <label class="statistics-label">Rating</label>

          <input class="statistics-input" type="number" v-model="rating">

          <span class="error-message"
                v-if="rating > 5 || rating < 0">Please enter a value between 0 and 5</span>

        </div>

        <div class="statistics-item">

          <label class="statistics-label">Percentage</label>

          <input class="statistics-input" type="number" v-model="percentage">

          <span class="error-message"
                v-if="percentage > 100 || percentage < 0">Please enter a value between 0 and 100</span>

        </div>

      </form>

    </section>

  </div>

</template>

<style lang="scss" src="./App.scss"></style>
<script src="./App.js"></script>

