@import '@/style/main.scss';

.banner {
  @include small {
    height: 28rem;
    padding: 6rem;
  }

  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 22rem;
  justify-content: center;
  margin: 0 auto;
  padding: 3rem;

  & + .banner {
    margin: 5rem auto 0;
  }
}

.banner-type-tyre {
  @include small {
    background-position: left center;
    align-items: flex-end;
    padding: 6rem;
  }

  align-items: center;
  background: rgba(3, 24, 36, 1);
  background: -webkit-linear-gradient(310deg, rgba(7, 53, 74, 1) 0%, rgba(3, 24, 36, 1) 100%);
  min-height: 32rem;
  overflow: hidden;
  padding: 3rem 2rem 12rem 2rem;
  position: relative;

  &:after {
    @include small {
      background-image: url(../../assets/img/bg_tyre_desktop.png);
      background-position: left center;
      left: 0;
      height: 25rem;
      top: 0;
      transform: translate(0);
    }

    background-image: url(../../assets/img/bg_tyre_mobile.png);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 28rem;
    left: 50%;
    width: 80%;
    max-width: 62rem;
    transform: translateX(-50%);
  }

  .banner-title,
  .banner-text {
    @include small {
      text-align: right;
    }
  }
}

.banner-type-forest {
  @include small {
    background-image: url(../../assets/img/bg_forest_desktop.jpg);
  }

  align-items: center;
  background-image: url(../../assets/img/bg_forest_mobile.jpg);
  background-position: center;
  background-size: cover;
}

.banner-container {
  @include small {
    margin: 1.2rem 0 0 0;
    max-width: 40rem;
  }

  @include medium {
    max-width: 59rem;
  }

  margin: 1.8rem 0 0 0;
  width: 100%;
  max-width: 30rem;
  position: relative;
  z-index: 1;
}

.banner-title {
  text-align: center;
}

.banner-text {
  margin: 1.2rem 0 0 0;
  text-align: center;
}