<template>

  <section :class="'banner banner-type-' + bannerType">

    <rating :rating="rating"/>

    <div class="banner-container">

      <h1 class="banner-title color--white"><strong>{{ percentageValue }}%</strong> of <strong>SOME TYRE</strong> users recommen this tyre</h1>

      <p class="banner-text color--white"><strong>Score of 4.95 of 5</strong> from 220 reviews</p>

    </div>

  </section>

</template>

<style lang="scss" src="./Banner.scss" scoped></style>
<script src="./Banner.js"></script>